<template>
    <ActionBar height="35">
      <StackLayout orientation="horizontal" width="100%">
        <Label text="enSight" textWrap="true" :width="ismain? '70%': '100%'" verticalAlignment="middle"/>
        <Label
          :text="convertHexToString(0xf002)"
          width="15%"
          class="fas"
          textWrap="true"
          v-if="ismain"
          @tap="showSearch"
          textAlignment="center"
          verticalAlignment="center"
        />
        <Label
          :text="convertHexToString(0xf0c9)"
          width="15%"
          class="fas"
          textWrap="true"
          v-if="ismain"
          @tap="showDrawer"
          textAlignment="center"
          fontSize="21px"
          verticalAlignment="center"
        />
      </StackLayout>
    </ActionBar>
</template>

<script>
export default {
    name: 'action-bar',
    props: ['islist', 'ismain'],
    methods: {
        convertHexToString(hex) {
            return String.fromCharCode(hex);
        },
        showSearch() {
            this.$emit('showSearch_c')
        },
        showDrawer() {
            this.$emit('showDrawer_c')
        }
    }
}
</script>

<style lang="scss" scoped>
ActionBar {
  background: #0f2027;
  color: #ffffff;
  position: relative;
  font-size: 16px;
}
    .fas {
    font-family: Font Awesome 5 Free, fa-solid-900;
    font-weight: 900;
    }
</style>
