<template>
  <Page>
    <action-bar :islist="isList" :ismain="true" @showDrawer_c="showDrawer" @showSearch_c="showSearch"></action-bar>

    <RadSideDrawer ref="drawer">
      <StackLayout ~drawerContent backgroundColor="white" width="200" class="sideStackLayout">
        <Label text="Contents List" margin="15 10 auto" fontWeight="bold" fontSize="16"></Label>
        <Label text="국내 연설문" @tap="transformCategory(1)" textWrap="true"/>
        <Label text="세계 연설문" @tap="transformCategory(2)" textWrap="true"/>
        <Label text="국내소설(고전/현대)" @tap="transformCategory(3)" textWrap="true"/>
        <Label text="세계소설(고전/현대)(준비중)" class="onready" @tap="transformCategory(4)" textWrap="true"/>
        <Label text="국내 비소설(고전/현대)" @tap="transformCategory(5)" textWrap="true"/>
        <Label text="시사-경제 용어" @tap="transformCategory(0)" textWrap="true"/>
        <Label text="그리스 로마 신화(준비중)" class="onready" @tap="transformCategory(6)" textWrap="true"/>
        <Label text="북유럽 신화(준비중)" class="onready" @tap="transformCategory(7)" textWrap="true"/>
        <Label text="이집트 신화(준비중)" class="onready" @tap="transformCategory(8)" textWrap="true"/>
        <Label text="국내 신화(준비중)" class="onready" @tap="transformCategory(9)" textWrap="true"/>
        <Label text="일본 신화(준비중)" class="onready" @tap="transformCategory(10)" textWrap="true"/>
        <Label text="인도 신화(준비중)" class="onready" @tap="transformCategory(11)" textWrap="true"/>
      </StackLayout>

      <DockLayout ~mainContent stretchLastChild="true">
        <Label id="page_state" dock="top" height="40" textWrap="true">
          <formattedString>
            <Span :text="title_state"></Span>
            <Span text=" > " color="gray" ></Span>
            <Span :text="category_state" fontSize="14" color="gray"></Span>
            <Span :text="' ( ' + listsAllLen + ' )'" fontSize="14" color="gray"></Span>
          </formattedString>
        </Label>
        <TextField
          dock="top"
          v-if="isSearching"
          v-model="textFieldValue"
          returnKeyType="search"
          hint="Search.."
          margin="0 20 auto"
          @returnPress="searchItem"
        />
        <bottom-nav dock="bottom"></bottom-nav>
        <ActivityIndicator dock="top" :busy="showLoading" v-show="showLoading"></ActivityIndicator>
        <Label dock="bottom" margin="5 15 auto" v-show="alertToast.length !== 0" :text="alertToast" color="red" fontWeight="bold" textWrap="true" />
        
        <ScrollView ref="scrollview" @scroll="watchScroll">
          <StackLayout class="no-margin">
            <CardView
              shadowOffsetWidth="1"
              shadowOffsetHeight="1"
              elevation="5"
              v-for="(item, index) in listitems"
              :key="index"
              marginBottom="10"
              @tap="onItemTap($event, index)"
            >
              <StackLayout id="stacklayout_list" verticalAlignment="center">
                <Label :text="item.title" fontWeight="bold" color="#0F2027" textWrap="true"/>
                <Label :text="' - ' + item.author" v-if="item.author" textWrap="true"/>
              </StackLayout>
            </CardView>
          </StackLayout>
        </ScrollView>
      </DockLayout>
    </RadSideDrawer>
  </Page>
</template>

<script >
import * as firebase from "nativescript-plugin-firebase/app";
import Vue from "nativescript-vue";
import papas from "../assets/js_/papaparse.min";
import actionbar from './actionbarConp';
import mymixin from '../mixin/mixin.js';
import * as application from 'tns-core-modules/application'
import * as Toast from 'nativescript-toast';

firebase.initializeApp({
  storageBucket: "gs://osori-4515b.appspot.com/"
});

Vue.prototype.$firebase = firebase;

export default {
  data() {
    return {
      listitems: [],
      listitems_back: [],
      listsAllLen: '0',
      db: {},
      title_state: "Contents",
      category_state: '국내 연설문',
      isList: false,
      isSearching: false,
      docName: "speeches",
      colName: "korean",
      startPoint: 0,
      endPoint: 30,
      showLoading: true,
      toggleExpendable: true,
      textFieldValue: "",
      alertToast: "",
      isFirstReturn: true
    };
  },
  mixins: [mymixin],
  methods: {
    convertHexToString(hex) {
      return String.fromCharCode(hex);
    },
    showSearch() {
      this.isSearching = this.isSearching ? false : true;
    },
    showDrawer() {
      this.$refs.drawer.nativeView.showDrawer();
    },
    closeDrawer() {
      this.$refs.drawer.nativeView.closeDrawer();
    },
    watchScroll(event) {
      const scrollH = this.$refs.scrollview.nativeView.scrollableHeight;

      if (
        event.scrollY > scrollH * 0.8 &&
        this.toggleExpendable &&
        scrollH !== 0
      ) {
        this.startPoint += 30;
        this.endPoint += 30;
        this.toggleExpendable = false;
        if (this.isList) {
          this.takeItems(this.startPoint, this.endPoint);
        } else {
          this.getArticleLists()
        }
        
      }
    },
    transformCategory(index) {
      let docname, colname, category_name;
      this.showLoading = true;

      switch (index) {
        case 0: {
          docname = "commons";
          colname = "economics";
          category_name = "시사-경제 용어"
          break;
        }
        case 1: {
          docname = "speeches";
          colname = "korean";
          category_name = "국내 연설문"
          break;
        }
        case 2: {
          docname = "speeches";
          colname = "foreign";
          category_name = "세계 연설문"
          break;
        }
        case 3: {
          docname = "fictions";
          colname = "fiction_items";
          category_name = "국내소설(고전/현대)"
          break;
        }
        case 4: {
          docname = "fictions";
          colname = "foreign_fiction";
          category_name = "세계소설(고전/현대)"
          break;
        }
        case 5: {
          docname = "nonFictions";
          colname = "nonfiction";
          category_name = "비소설(고전/현대)"
          break;
        }
        case 6: {
          docname = "legends";
          colname = "greece";
          category_name = "그리스 로마 신화"
          break;
        }
        case 7: {
          docname = "legends";
          colname = "scanda";
          category_name = "북유럽 신화"
          break;
        }
        case 8: {
          docname = "legends";
          colname = "egypt";
          category_name = "이집트 신화"
          break;
        }
        case 9: {
          docname = "legends";
          colname = "korea";
          category_name = "국내 신화"
          break;
        }
        case 10: {
          docname = "legends";
          colname = "japan";
          category_name = "일본 신화"
          break;
        }
        case 11: {
          docname = "legends";
          colname = "india";
          category_name = "인도 신화"
          break;
        }
      }
      this.docName = docname;
      this.colName = colname;
      this.category_state = category_name;

      this.initState(false);
      this.getArticleLists();
      this.closeDrawer();
      
    },
    initState(isSearch) {
      this.startPoint = 0;
      this.endPoint = 30;
      this.listitems = [];
      if (!isSearch) {
        this.$store.commit("clearMainList");
      }
    },
    onItemTap(event, index) {
      const targetContent = this.listitems[index];

      this.$navigateTo(this.$router["detail"], {
        props: {
          content: targetContent.content,
          title: targetContent.title
        },
        clearHistory: false,
        backstackVisible: true,
        transition: {
          name: "slide",
          duration: 380,
          curve: "easeIn"
        }
      });
    },
    searchItem() {
      const _self = this;
      const searchPool = _self.isList ? _self.$store.state.mainList : _self.listitems_bak;
      
      _self.initState(true);

      const searchitem = _self.textFieldValue;
      
      if (searchitem === "") {
        if (_self.isList) {
          _self.takeItems(_self.startPoint, _self.endPoint);
        } else {
          _self.listitems = _self.listitems_bak
        }
        return
      }

      const searchResult = _self._.filter(searchPool, function(o) {
        return _self._.includes(o.title, searchitem);
      });
      for (let index = 0; index < searchResult.length; index++) {
        _self.listitems.push(searchResult[index]);
      }
    },
    getArticleLists() {
      const _self = this;

      if (_self.docName !== "commons") {
        const doc_ref = _self.db.collection("contents").doc(_self.docName);
        const lists = doc_ref
          .collection(_self.colName)
          .where("idx", ">=", _self.startPoint)
          .where("idx", "<", _self.endPoint)
          .orderBy("idx", "asc")
          .get();
        lists.then(snapshot => {
          snapshot.forEach(data => {
            _self.listitems.push(data.data());
          });
        }).then(() => {
          _self.listitems_bak = _self.listitems
           _self.listsAllLen = _self.listitems.length;
           _self.showLoading = false;
        })
        _self.isList = false;
        
      } else {
        if (_self.$store.state.mainList.length === 0) {
          const storageRef = this.$firebase.storage().ref();
          const childRef = storageRef.child("economics.txt");
          childRef
            .getDownloadURL()
            .then(theUrl => {
              papas.parse(theUrl, {
                delimiter: ";",
                download: true,
                complete: function(result) {
                  const data = result.data;
                  let structuredData = [];

                  for (let i = 0; i < data.length; i++) {
                    structuredData.push({
                      title: data[i][0],
                      content: data[i][1],
                      idx: data[i][2]
                    });
                  }

                  _self.showLoading = false;
                  
                  _self.$store.commit("cacheMainPage", structuredData);
                  _self.listsAllLen = structuredData.length;
                  _self.takeItems(_self.startPoint, _self.endPoint);
                }
              });
            })
            .catch(error => console.log("Download error: " + error));
        } else if (_self.$store.state.mainList.length !== 0) {
          _self.listsAllLen = _self.$store.state.mainList.length;
          _self.takeItems(_self.startPoint, _self.endPoint);
        }

        _self.showLoading = false;
        _self.isList = true;
        
      }
      
      _self.toggleExpendable = true;
    },
    takeItems(sp, ep) {
      const _self = this;
      const lists = _self._.slice(_self.$store.state.mainList, sp, ep);
      for (let index = 0; index < lists.length; index++) {
        _self.listitems.push(lists[index]);
      }
      if (!_self.toggleExpendable) {
        _self.toggleExpendable = true;
      }
    },
    getAccessToken() {
      const _self = this
      const refreshToken = "1/BOCTnJ9XAv9gf2nhqPCJeGFcpjN3jb2qhsRbqp-E9vE"
      const uri = "https://accounts.google.com/o/oauth2/token"
      const clientId = "658832148074-qm3t8kjirn21tt8fhaedk3ce1qgn7jsi.apps.googleusercontent.com"
      const secret = "pJzvG_pv8qBL0oOHCtBdEbnn"
      const qstring = "grant_type=refresh_token&refresh_token=" + refreshToken + "&client_id=" + clientId + "&client_secret=" + secret
      const xhr = new XMLHttpRequest()
      xhr.open('post', uri)
      xhr.onreadystatechange = function() {
        if(xhr.readyState === 4 && xhr.status === 200) {
          _self.validationForPurchased(xhr.response.access_token)
        }
      }
      xhr.send(qstring)

      return false
    },
    validationForPurchased(token) {
      const _self = this
      const orderID = this.$appsetting.getString('purchasedToken', '')
      
      if (orderID.length !== 0) {
        const accessURI = "https://www.googleapis.com/androidpublisher/v3/applications/org.nativescript.gutwords/purchases/subscriptions/month_subscription/tokens/" + orderID
        const xhr = new XMLHttpRequest()
        xhr.open('get', accessURI)
        xhr.setRequestHeader('Authorization', 'Bearer ' + token)
        xhr.onreadystatechange = function() {
          if(xhr.readyState === 4 && xhr.status === 200) {
            if (xhr.response.purchaseState === 0 || xhr.response.cancelReason) {
              _self.alertToast = '구독 기간이 만료되었습니다.'
              _self.$appsetting.remove('purchasedToken')
              _self.$appsetting.setBoolean('isPurchased', false)
              _self.$store.commit('updateDocLevel', 0)
              _self.getFirebaseDocURL()
            }
          }
        }
        xhr.send()
      } else {
        _self.alertToast = "무료 버전을 사용하고 있습니다."
      }
      
    }
  },
  created() {
    const _self = this;
    
    _self.showLoading = true;

    setTimeout(() => {
      _self.getAccessToken();
    
      _self.db = _self.$firebase.firestore();
      _self.toggleExpendable = false;

      _self.getArticleLists();
    },1000)

    application.android.on(application.AndroidApplication.activityBackPressedEvent, function(event) {
      if (_self.isFirstReturn) {
        event.cancel = true
        Toast.makeText("'뒤로가기'를 한번더 눌러 종료하세요").show();
        _self.isFirstReturn = false
      }
      return false
    })
  }
};
</script>

<style>
  @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
  Label {
    font-family: 'Nanum Gothic', serif
  }
</style>

<style lang="scss" scoped>

StackLayout.sideStackLayout {
  Label {
    font-size: 14px;
    margin: 15 15 auto;
  }
  Label.onready {
    font-size: 12px;
    color: #a5a4a4;
  }
}
DockLayout {
  Label#page_state {
    font-size: 17px;
    font-family: "Nanum Gothic", serif;
    color: rgb(44, 83, 100);
    font-weight: bold;
    line-height: 0.688;
    padding: 5 15 auto;
    z-index: 10;
    text-shadow: 3px 3px 10px #000;
    border-bottom: solid 1px rgb(88, 88, 88);
  }
  StackLayout {
    &.no-margin {
      margin: 0;
    }
    &.yes-margin {
      margin: 0 40px auto;
    }
    CardView {
      width: 97%;
      margin: 0 auto;
      StackLayout#stacklayout_list {
        height: 50;
        position: block;
        Label {
          width: 80%;
          font-weight: bold;
          font-size: 13px;
          vertical-align: middle;
        }
      }
    }
  }
}
.fas {
  font-family: Font Awesome 5 Free, fa-solid-900;
  font-weight: 900;
}

</style>


