<template>
  <card-view shadowOffsetHeight="-3" elevation="10">
      <GridLayout rows="55" columns="*,*,*,*" class="bottomNav">
      <Label
        :text="convertHexToString(0xf303)"
        class="fas"
        @tap="onBottomNavigationTabSelected($event, 0)"
        col="0"
        :color="targetNav === 0 ? 'rgb(15, 32, 39)' : '#ffffff'"
      />
      <Label
        :text="convertHexToString(0xf1b8)"
        class="fas"
        @tap="onBottomNavigationTabSelected($event, 1)"
        col="1"
        :color="targetNav === 1 ? 'rgb(15, 32, 39)' : '#ffffff'"
      />
      <Label
        :text="convertHexToString(0xf4fc)"
        class="fas"
        @tap="onBottomNavigationTabSelected($event, 2)"
        col="2"
        :color="targetNav === 2 ? 'rgb(15, 32, 39)' : '#ffffff'"
      />
      <Label
        :text="convertHexToString(0xf085)"
        class="fas"
        @tap="onBottomNavigationTabSelected($event, 3)"
        col="3"
        :color="targetNav === 3 ? 'rgb(15, 32, 39)' : '#ffffff'"
      />
    </GridLayout>
  </card-view>

</template>
<script>

export default {
  name: "bottomNav",
  data() {
    return {
      targetNav: 0
    }
  },
  methods: {
    convertHexToString(hex) {
      return String.fromCharCode(hex);
    },
    onBottomNavigationTabSelected(event, tabnum) {
      this.$store.commit('updateCurrentTab', tabnum)
      
      if (tabnum === 0) {
          this.$goto('home')
      } else if (tabnum === 1) {
          this.$goto('voca')
      }else if (tabnum === 2) {
          this.$goto('writing')
      } else if (tabnum === 3) {
          this.$goto('setting')
      }
    }
  },
  created() {
    this.targetNav = this.$store.state.currentTab
  }
};
</script>

<style lang="scss" scoped>
    GridLayout.bottomNav {
      background-color: rgba(23, 50, 61, 0.349);
      Label {
          font-size: 20px;
          color: white;
          text-align: center;
          vertical-align: middle;
      }
    }
    .fas {
        font-family: Font Awesome 5 Free, fa-solid-900;
        font-weight: 900; 
    }
    .active {
        color: rgb(22, 49, 61);
    }
</style>
