<template>
  <page>
    <action-bar :islist="false" :ismain="false" ></action-bar>
    
    <DockLayout stretchLastChild="true">
      <Label id="page_state" dock="top" height="40" :text="title" textWrap="true"/>
      <bottom-nav dock="bottom"></bottom-nav>
      <ActivityIndicator dock="top" :busy="showLoading" v-show="showLoading"></ActivityIndicator>
      <card-view
        v-show="isShow"
        height="140"
        dock="top"
        ref="wordSlide"
        elevation="30"
        id="wordPopup"
      >
        <StackLayout>
          <GridLayout rows="*, *" columns="2*, *" height="80">
            <StackLayout
              orientation="horizontal"
              row="0"
              col="0"
              width="100%"
              id="wordLiteral"
            >
              <Label :text="targetWord_obj.eng" width="auto" textWrap="true" id="word_eng"/>
              <Label
                :text="'[ ' + targetWord_obj.pron + ' ]'"
                width="auto"
                textWrap="true"
                id="word_pron"
              />
            </StackLayout>
            <Label :text="targetWord_obj.class" row="0" col="1" textWrap="true" id="word_class"/>
            <Label textWrap="true" row="1" colSpan="2" id="word_kor">
              <FormattedString>
                <Span :text="targetWord_korString[0]" />
                <Span :text="targetWord" color="orange"/>
                <Span :text="targetWord_korString[2]" />
              </FormattedString>
            </Label>
          </GridLayout>
          <GridLayout rows="*" columns="*,*,*,*,*" id="interaction_btns">
            <Label :text="convertHexToString(0xf787)" class="fas" @tap="passToVoca('known')" id="known_btn" col="1" />
            <Label :text="convertHexToString(0xf059)" class="fas" @tap="passToVoca" id="question_btn" col="2" />
            <Label :text="convertHexToString(0xf058)" class="fas" @tap="wordCountUp" id="okay_btn" col="3" />
            <Label :text="targetWord_obj.matchedcount" id="wordcount" col="4" />
          </GridLayout>
        </StackLayout>
      </card-view>

      <GridLayout rows="*" columns="*" dock="top">
        <ScrollView>
          <WebView ref="webView" id="webView"/>
        </ScrollView>
      </GridLayout>
    </DockLayout>
  </page>
</template>

<script>
import "nativescript-effects";

const webViewInterfaceModule = require("nativescript-webview-interface");

export default {
  name: "detail",
  props: ["content", "title"],
  data() {
    return {
      oWebViewInterface: {},
      isShow: false,
      targetWord_obj: {},
      targetWord_korString: [],
      targetWord_obj_korIndex: "",
      targetWord: "",
      thisLimitWords: 20,
      multipleOption: 1,
      showLoading: true
    };
  },
  watch: {
    targetWord_obj() {
      this.targetWord = this.targetWord_obj.orikor[parseInt(this.targetWord_obj_korIndex)]
      
      const seperator = this.targetWord +'(?=(,|$))'
      this.targetWord_korString = this.targetWord_obj.orikor.toString().split(new RegExp(seperator)); 
    }
  },
  methods: {
    convertHexToString(hex) {
      return String.fromCharCode(hex)
    },
    setupWebViewInterface() {
      const webview = this.$refs.webView.nativeView;
      this.oWebViewInterface = new webViewInterfaceModule.WebViewInterface(
        webview,
        '~/www/index.html'
      );
      this.injectContentIntoWebview();
    },
    injectContentIntoWebview() {
      const _self = this;
      
      const webview = _self.$refs.webView.nativeView;
      const origin_content = _self.content;
      
      let db = _self.$store.state.wordDB;
      let voca = _self.$store.state.vocaDB;

      db = _self._.shuffle(db)
      _self.thisLimitWords = origin_content.length * 0.006 * _self.multipleOption

      _self.replaceWords(origin_content, voca, 0, 0, true, function(preconq) {
        _self.replaceWords(preconq, db, 0, 0, false, function(conseq) {
          conseq = conseq.replace(/(?<=[가-힣\.\?\!])(”|")/g, '"<br>')
          conseq = conseq.replace(/(”|"|“)(?=[가-힣])/g, '<br>"')
        
          webview.on("loadFinished", args => {
            if (!args.error) {
              _self.oWebViewInterface.emit("injectcontent", conseq);
              _self.oWebViewInterface.on("showTargetItem", data => {
                _self.popupItem(data);
              });
              _self.oWebViewInterface.on("stopIndicator", () => {
                _self.showLoading = false;  
              })
              return
            } else {
              console.log(args.error)
            }
          });
        });
      })
      
      return
    },
    popupItem(data) {
      const word_obj = this.searchItem(data);
      
      if (!word_obj) {
        alert('이미 아는단어로 체크된 단어입니다.')
        return
      }

      this.targetWord_obj = word_obj;
      this.targetWord_obj_korIndex = data.index;
      
      const label = this.$refs.wordSlide.nativeView;
      label.fadeIn(400).then(() => {
        this.isShow = true;
      })
    },
    closePopup() {
      const label = this.$refs.wordSlide.nativeView;
      label.fadeOut(400).then(() => {
        this.isShow = false;
      })
    },
    searchItem(data) {
      const _self = this;
      const isRepeatedPattern = /^[가-힣]/
      if (isRepeatedPattern.test(data.item)) {
        data.item = data.item.split(' ')[1]
      }
      const dataset = _self.$store.state.wordDB;
      return _self._.find(dataset, { 'eng': data.item.trim(), 'flag': data.class });
    },
    replaceWords(content, database, wordCount, loopIndex, isRepeated,callback) {
      const _self = this;

      if (
        wordCount > this.thisLimitWords ||
        loopIndex >= database.length
      ) {
        if (typeof callback === 'function') {
          callback(content)
        }
        return
      }

      const lenKorMatchTest = database[loopIndex].regexr.length;
      for (let i = 0; i < lenKorMatchTest; i++) {
        if (_self.isMatched(content, database[loopIndex].regexr[i])) {
          const colorPick = _self.pickColorOfWord(database[loopIndex].flag)
          let replacement =
            '<a class="replacedWords" data-class="'+ database[loopIndex].flag +'" data-index="'+ i +'" style="border-bottom: solid 2px '+ colorPick +'; font-weight:bold"> ' +
            database[loopIndex].eng +
            "</a>";
          if (isRepeated) {
            let headofWord = database[loopIndex].orikor[i].substring(0,1);
            const indexOfSpace = database[loopIndex].orikor[i].indexOf(' ')
            const oriWordLen = database[loopIndex].orikor[i].length;
            for (let index = 0; index < oriWordLen - 1; index++) {
              if (index === indexOfSpace) {
                headofWord += ' '
              } else {
                headofWord += 'O'
              }
            }
            replacement = 
              '<a class="replacedWords" data-class="'+ database[loopIndex].flag +'" data-index="'+ i +'" style="border-bottom: solid 2px '+ colorPick +'; font-weight:bold"> ' +
                '<span style="color:gray; font-size:11px">' + headofWord + ' </span>' + database[loopIndex].eng +
              "</a>";
          }
          content = content.replace(
            new RegExp(database[loopIndex].regexr[i]),
            replacement
          );
          wordCount += 1;
          break;
        }
      }

      loopIndex += 1;
      return _self.replaceWords(content, database, wordCount, loopIndex, isRepeated, callback);
    },
    isMatched(str, target) {
      const searchResult = str.search(new RegExp(target));
      if (searchResult !== -1) {
        return true;
      }

      return false;
    },
    pickColorOfWord(flag) {
      let result;
      switch (flag) {
        case 'i': {
            result = '#68a6fb';   
            break;
        }
        case 'v': {
            result = '#ffc379';
            break;
        }
        case 'vp': {
            result = '#ff7979';
            break;
        }
        case 'a': {
            result = '#fb6868';
            break;
        }
        case 'n': {
            result = '#a168fb';
            break;
        }
        case 'd': {
            result = '#81d200';
            break;
        }
        case 't': {
            result = '#002646';
            break;
        }
      }
      return result;
    },
    passToVoca(where) {
      const _self = this
      const dataset = _self.$store.state.wordDB
      let target_obj = _self._.filter(dataset, {'eng': _self.targetWord_obj.eng})
      
      if (!target_obj) {
        return
      }

      if (where === 'known') {
        target_obj = _self._.find(dataset, {'eng': _self.targetWord_obj.eng, 'class': _self.targetWord_obj.class})
        _self.$store.commit('putDataIntoKnownDB', target_obj)  
      } else {
        _self.$store.commit('putDataIntoVocaDB', target_obj)
      }
      
      _self.closePopup()
    },
    wordCountUp(event) {
      const _self = this
      _self.$store.commit('updateWordCounting', _self.targetWord_obj.index)
      _self.closePopup()
    }
  },
  mounted() {
    this.showLoading = true
    setTimeout(() => {
      this.setupWebViewInterface()
    }, 1500)
    this.multipleOption = this.$store.state.LIMIT_WORD_COUNT_RATE
  }
};
</script>

<style lang="scss" scoped>
ActionBar {
  background: #0f2027;
  color: #ffffff;
  position: relative;
  font-size: 24px;
}

label#page_state {
  font-size: 13px;
  font-family: "Nanum Gothic";
  color: rgb(44, 83, 100);
  font-weight: bold;
  line-height: 0.688;
  padding: 5 15 auto;
  z-index: 10;
  text-shadow: 3px 3px 10px #000;
  border-bottom: solid 1px rgb(88, 88, 88);
}
ScrollView {
  label {
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
  }
}
card-view#wordPopup {
  StackLayout#wordLiteral {
    Label#word_pron {
      vertical-align: middle;
      text-align: center;
      font-size: 12px;
    }
    Label#word_eng {
      vertical-align: middle;
      font-weight: bold;
      font-size: 24px;
      margin: 0 40px;
    }
  }
  Label#word_class {
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  Label#word_kor {
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  GridLayout#interaction_btns {
    Label {
      font-size: 40px;
      font-weight: bold;
      width: auto;
      background-color: transparent;
      border-color: transparent;
      color:#1e404e;
      text-align: center;
      vertical-align: middle;
    }
    Label#known_btn {
      color: rgb(219, 74, 16)
    }
    Label#wordcount {
      font-size: 20px;
      font-weight: normal;
      color: #7e7e7eb2;
      vertical-align: bottom;
    }
  }
  .fas {
      font-family: Font Awesome 5 Free, fa-solid-900;
      font-weight: 900; 
  }
}
</style>

