<template>
    <page>
        <action-bar :islist="false" :ismain="false" ></action-bar>
        <DockLayout stretchLastChild="true">
            <Label id="page_state" dock="top" height="40" :text="title_state" textWrap="true"/>
            <bottom-nav dock="bottom"></bottom-nav>
            <Label text="원활한 작문을 위해서 적어도 10개 이상의 아는 단어가 있어야 합니다" margin="0 40 auto" fontSize="16px" textAlignment="center" verticalAlignment="center" v-if="knownWords.length < 10" textWrap="true" />
            
            <GridLayout rows="40" columns="*, * ,* ,*" dock="top" v-if="wordsPool.length !== 0">
                <CardView elevation="10" col="0">
                    <Label :text="wordsPool[0]" class="sampling" textWrap="true" />
                </CardView>
                <CardView elevation="10" col="1">
                    <Label :text="wordsPool[1]" class="sampling" textWrap="true" />
                </CardView>
                <CardView elevation="10" col="2">
                    <Label :text="wordsPool[2]" class="sampling" textWrap="true" />
                </CardView>
                <CardView elevation="10" col="3">
                    <Label :text="convertHexToString(0xf2f1)" class="sampling fas" @tap="getNewWordPool" textWrap="true" />
                </CardView>
            </GridLayout>

            <Button text="Clear" dock="bottom" height="40" margin="10 20 auto" backgroundColor="transparent" @tap="clearContents" />

            <TextField v-model="textFieldValue"
                returnKeyType="done"
                hint="위 제시어를 사용해서 문장을 만들어 보세요"
                @returnPress="confirmSentence"
                margin="5 20 auto"
                v-if="wordsPool.length !== 0"
                dock="top" />

            <ScrollView dock="top" margin="0 20 auto">
                <StackLayout>
                    <GridLayout rows="20,50,50" columns="*" margin="5 0 auto" v-for="(item, index) in myCompositions" :key="index">
                        <Label :text="item.words.join(' / ')" row="0" textWeight="bold" color="#0f2027" textWrap="true" />
                        <Label :text="item.text" row="1" textWrap="true" />
                        <Label :text="'<번역 결과> ' + item.trans" row="2" textWrap="true" />
                    </GridLayout>
                </StackLayout>
            </ScrollView>

        </DockLayout>
    </page>
</template>

<script>
export default {
    data() {
        return {
            title_state: 'Practice Composition 작문 연습',
            knownWords: [],
            wordsPool: [],
            myCompositions: [],
            textFieldValue: ''
        }
    },
    methods : {
        convertHexToString(hex) {
            return String.fromCharCode(hex);
        },
        pickupRandomWords(words, result) {
            if (words.length < 10) {
                return []
            }
            if (result.length === 3) {
                return result
            }
            const index = this._.random(0, words.length -1)
            result.push(words[index].eng)
            result = this._.uniqWith(result, this._.isEqual)

            return this.pickupRandomWords(words, result)
        },
        confirmSentence(event) {
            const _self = this
            const uri = "https://openapi.naver.com/v1/papago/n2mt"
            const qstring = 'source=en&target=ko&text=' + this.textFieldValue
            const xhr = new XMLHttpRequest()
            
            xhr.open('post', uri)
            xhr.setRequestHeader('X-Naver-Client-Id', 'BiKFXFswr7EeAighTkGD')
            xhr.setRequestHeader('X-Naver-Client-Secret', 'zn5sEHov2U')
            xhr.onreadystatechange = function() {
                
                if(xhr.readyState === 4 && xhr.status === 200) {
                    const composition_obj = {
                        text: _self.textFieldValue,
                        words: _self.wordsPool,
                        trans: xhr.response.message.result.translatedText
                    }
                    _self.myCompositions.push(composition_obj)
                    _self.textFieldValue = ''
                }
            }
            xhr.send(qstring)

            return false
        },
        getNewWordPool() {
            this.wordsPool = this.pickupRandomWords(this.knownWords, [])
            return
        },
        clearContents() {
            this.myCompositions = []
            return
        }
    },
    created() {
        this.knownWords = this.$store.state.knownDB;
        this.wordsPool = this.pickupRandomWords(this.knownWords, [])
        this.myCompositions = this.$ls.getItem('myCompositions') || []
    }
}
</script>

<style lang="scss" scoped>
    label#page_state {
        font-size: 13px;
        font-family: "Nanum Gothic";
        color: rgb(44, 83, 100);
        font-weight: bold;
        line-height: 0.688;
        padding: 5 15 auto;
        z-index: 10;
        text-shadow: 3px 3px 10px #000;
        border-bottom: solid 1px rgb(88, 88, 88);
    }
    Label.sampling {
        font-size: 15px;
        font-weight: bold;
        color: #0f2027;
        text-align: center;
    }
    .fas {
        font-family: Font Awesome 5 Free, fa-solid-900;
        font-weight: 900; 
    }
</style>
