<template>
  <GridLayout rows="*" columns="*, *">
    <Label :text="labelText" textWrap="true"/>
    <Label
        :text="convertHexToString(iconCode)"
        class="fas btn"
        textWrap="true"
        col="1"
        @tap="onTapSettingItem"
      />
  </GridLayout>
</template>

<script>
export default {
    name: 'setting-item',
    props: ['labelText', 'iconCode', 'itemId'],
  methods: {
    convertHexToString(hex) {
      return String.fromCharCode(hex);
    },
    onTapSettingItem() {
      this.$emit('tapItem', this.itemId)
    }
  }
};
</script>
<style lang="scss" scoped>
.fas {
    font-family: Font Awesome 5 Free, fa-solid-900;
    font-weight: 900; 
}
.btn {
  font-size: 25px;
  color: rgba(15, 32, 39, 0.705);
  vertical-align: middle;
  padding: 10px 50px auto;
}
GridLayout {
  width: 50%;
  height: 100px;
  margin: 20px auto;
  label {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
  }
}
</style>
