<template>
  <Page ref="settingPage">
    <action-bar :islist="false" :ismain="false" ></action-bar>
    <DockLayout stretchLastChild="true">
      <Label id="page_state" dock="top" height="40" :text="title_state" textWrap="true"/>
      <bottom-nav dock="bottom"></bottom-nav>

      <StackLayout>
        <GridLayout rows="40" columns="100, *">
          <Label text="학습 레벨 " id="level_label" textWrap="true" />
          <Label :text="convertHexToString(0xf059)" class="fas btn" @tap="onTapLevelInfo" textWrap="true" col="1" />
        </GridLayout>
        <SegmentedBar width="90%" margin="0 auto" ref="level" :selectedIndex="settings.level" selectedBackgroundColor="rgb(44, 83, 100)" @selectedIndexChange="onIndexChangedLevel">
          <SegmentedBarItem title="Essential"/>
          <SegmentedBarItem title="Basic"/>
          <SegmentedBarItem title="Advance"/>
        </SegmentedBar>

        <Label text="단어 빈도수" id="density_word_label" textWrap="true"/>
        <SegmentedBar width="90%" margin="0 auto" :selectedIndex="frequencyWord" selectedBackgroundColor="rgb(44, 83, 100)"  @selectedIndexChange="onIndexChangedDensity">
          <SegmentedBarItem title="x1"/>
          <SegmentedBarItem title="x2"/>
          <SegmentedBarItem title="x3"/>
          <SegmentedBarItem title="x4"/>
        </SegmentedBar>

        <Label text textWrap="true" marginBottom="60" borderBottomWidth="1" borderBottomColor="lightgray"/>

        <setting-item :label-text="'Contect US'" :icon-code="0xf2bb" :item-id="0" @tapItem="onTapContect"></setting-item>
        <setting-item :label-text="'Info'" :icon-code="0xf05a" :item-id="1" @tapItem="onTapInfo"></setting-item>
        <Button text="구독하기" @tap="openInappModal" id="subscription_btn" />
        
      </StackLayout>
    </DockLayout>
  </Page>
</template>

<script>

import setting_item from "./settingItem";
import mymixin from '../mixin/mixin.js'
import contect from './modals/contect_modal'
import info from './modals/info_modal'
import level_info from './modals/level_info.modal'
import inapp from './modals/inapp_modal'

export default {
  name: "setting",
  mixins: [mymixin],
  data() {
    return {
      title_state: "Setting",
      settings: {},
      isPurchased: false,
      isRejected: false
    };
  },
  computed: {
      frequencyWord() {
          let result;
          switch(this.settings.limit) {
              case 1: {
                  result = 0
                  break
              }
              case 2: {
                  result = 1
                  break
              }
              case 3: {
                  result = 2
                  break
              }
              case 4: {
                  result = 3
                  break
              }
          }
          return result
      }
  },
  methods: {
      convertHexToString(hex) {
        return String.fromCharCode(hex);
      },
      onIndexChangedLevel(event) {
          const _self = this
          const levelSegment = _self.$refs.level.nativeView
          _self.isPurchased = _self.$appsetting.getBoolean('isPurchased', false)

          switch (event.object.selectedIndex) {
              case 0: {
                  _self.$store.commit('updateDocLevel', 0)
                  if (!_self.isRejected) {
                    _self.getFirebaseDocURL()
                  } else {
                    _self.isRejected = false
                  }
                  break
              }
              case 1: {
                if (_self.isPurchased) {
                  _self.$store.commit('updateDocLevel', 1)
                  _self.getFirebaseDocURL()
                } else {
                  alert('구독 상품 구매 후 이용할 수 있는 레벨입니다.')
                  _self.isRejected = true
                  levelSegment.selectedIndex = 0
                }
                break
              }
              case 2: {
                if (_self.isPurchased) {
                  _self.$store.commit('updateDocLevel', 2)
                  _self.getFirebaseDocURL()
                } else {
                  alert('구독 상품 구매 후 이용할 수 있는 레벨입니다.')
                  _self.isRejected = true
                  levelSegment.selectedIndex = 0
                }
                break
              }
          }
          
          return false;
      },
      onIndexChangedDensity(event) {
          const _self = this
          switch (event.object.selectedIndex) {
              case 0: {
                  _self.$store.commit('updateLimitWords', 1)
                  break
              }
              case 1: {
                  _self.$store.commit('updateLimitWords', 2)
                  break
              }
              case 2: {
                  _self.$store.commit('updateLimitWords', 3)
                  break
              }
              case 3: {
                  _self.$store.commit('updateLimitWords', 4)
                  break
              }
          }
      },
      onTapContect() {
        this.$showModal(contect)
      },
      onTapInfo() {
        this.$showModal(info)
      },
      onTapLevelInfo() {
        this.$showModal(level_info)
      },
      openInappModal() {
        this.$showModal(inapp)
        return false
      }
  },
  components: {
    "setting-item": setting_item
  },
  created() {
      this.settings = this.$ls.getItem('settings') || {
        level : 0,
        limit : 1
      }
      
  }
};
</script>

<style lang="scss" scoped>
#page_state {
  font-size: 17px;
  font-family: "Nanum Gothic";
  color: rgb(44, 83, 100);
  font-weight: bold;
  line-height: 0.688;
  padding: 5 15 auto;
  z-index: 10;
  text-shadow: 3px 3px 10px #000;
  border-bottom-color: rgb(88, 88, 88);
  border-bottom-width: 1px;
}
#density_word_label {
  font-size: 16px;
  color: rgb(44, 83, 100);
  font-weight: bold;
  padding: 5 15 auto;
  margin-top: 20px;
}
#level_label {
  font-size: 16px;
  color: rgb(44, 83, 100);
  font-weight: bold;
  padding: 5 15 auto;
  margin-top: 20px;
}
#subscription_btn {
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: solid 1px rgb(44, 83, 100);
  color: rgb(44, 83, 100);
  padding: 5 15 auto;
  margin-top: 40px;
}
.fas {
    font-family: Font Awesome 5 Free, fa-solid-900;
    font-weight: 900; 
}
.btn {
  font-size: 20px;
  color: rgba(15, 32, 39, 0.705);
  vertical-align: middle;
}
</style>
