<template>
    <GridLayout rows="*" columns="*, *">
        <Label text="No Contents" textWrap="true" colSpan="2" id="noContents" v-if="itemlist.length === 0" />
        <ScrollView ref="scrollview" @scroll="loadMoreContents">
          <StackLayout id="didnKnowWords">
            <Label
            v-for="item in speckContent"
            :key="item.index"
            @tap="toggleWordDetail($event, item)"
            >
              <formattedString>
                <Span :text="item.eng"></Span>
                <Span :text="'   ' + convertClassString(item.class) + '.'" color="rgb(252, 186, 111)"></Span>
              </formattedString>
            </Label>
          </StackLayout>
            
        </ScrollView>
        
        <CardView
            elevation="40"
            col="1"
            v-show="isShowDetail"
            ref="detail_popup"
            id="detail_popup"
        >
          <ScrollView>
            <StackLayout>
              <Label :text="itemDetailInfo.eng" id="detail_eng"/>
              <Label>
                  <FormattedString>
                  <Span
                      :text="'[ ' + itemDetailInfo.pron + ' ]  '"
                      id="detail_pron"
                      style="color:rgb(255, 231, 153);font-size:16px"
                  />
                  <Span
                      :text="itemDetailInfo.class"
                      id="detail_class"
                      style="color:rgb(252, 186, 111);font-size:16px;margin-left:10px"
                  />
                  </FormattedString>
              </Label>

              <Label
                  v-for="(meaning, idx) in itemDetailInfo.orikor"
                  :key="idx"
                  :text="meaning"
                  textWrap="true"
                  id="detail_kor"
              />
            </StackLayout>
          </ScrollView>
            
        </CardView>
        </GridLayout>
</template>

<script>
export default {
    name: 'voca-content',
    props: ['itemlist'],
    data() {
        return {
            itemDetailInfo: [],
            isShowDetail: false,
            isExpanable: true,
            speckContent: [],
            sp: 0,
            ep: 50
        }
    },
    methods: {
      loadMoreContents(event) {
        const scrollH = this.$refs.scrollview.nativeView.scrollableHeight;

        if (event.scrollY > scrollH * 0.8 && this.isExpanable) {
          this.sp += 50;
          this.ep += 50;
          this.isExpanable = false
          this.speckContent = this.speckContent.concat(this.itemlist.slice(this.sp, this.ep))
          this.isExpanable = true
        }
      },
      toggleWordDetail(event, item) {
        const _self = this
        let isManupulated = false
        if (typeof item === "object") {
            if (_self.itemDetailInfo !== item) {
              isManupulated = true
            }
            _self.itemDetailInfo = item;
            const popup = _self.$refs.detail_popup.nativeView;
            if (_self.isShowDetail && !isManupulated) {
              popup.fadeOut(1500).then(() => {
                _self.isShowDetail = false
              }) 
            } else if (!_self.isShowDetail && isManupulated) {
              popup.fadeIn(1500).then(() => {
                _self.isShowDetail = true
              })
            } else if (!_self.isShowDetail) {
              popup.fadeIn(1500).then(() => {
                _self.isShowDetail = true
              })
            }
        }
      },
      convertArrToString(arr) {
        if (!arr) {
            return false;
        }
        return arr.toString();
      },
      convertClassString(input) {
        let result;

        switch (input) {
          case 'verb': {
            result = 'v'  
            break;  
          }
          case 'adverb': {
            result = 'adv'
            break;
          }
          case 'adjective': {
            result = 'adj'
            break;
          }
          case 'noun': {
            result = 'n'
            break;
          }
          case 'determiner': {
            result = 'deter'
            break;
          }
        }
        return result
      }
    },
    created() {
      if (this.itemlist.length > 50) {
        this.speckContent = this.itemlist.slice(this.sp, this.ep)
      } else {
        this.speckContent = this.itemlist
      }
    }
}
</script>

<style lang="scss" scoped>
Label#noContents {
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgba(97, 97, 97, 0.705)
}
StackLayout#didnKnowWords {
  margin: 10 20 auto;
  Label {
    font-weight: bold;
    font-size: 16px;
    margin: 10 0 auto;
  }
}
CardView#detail_popup {
  StackLayout {
    padding: 10 20 auto;
    background: #0f2027;
    Label {
      font-weight: bold;
      color: white;
      FormattedString {
        Span#detail_pron {
          font-size: 16px;
          color: rgb(255, 231, 153);
        }
        Span#detail_class {
          font-size: 16px;
          color: rgb(252, 186, 111);
        }
      }
    }
    Label#detail_eng {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    Label#detail_kor {
      font-size: 14px;
      margin-top: 30px;
      line-height: 20px;
    }
  }
}
</style>
