<template>
  <Page>
    <action-bar :islist="false" :ismain="false" ></action-bar>
    <DockLayout stretchLastChild="true">
      <Label id="page_state" dock="top" height="40" :text="title_state" textWrap="true"/>
      <bottom-nav dock="bottom"></bottom-nav>
      <GridLayout rows="20" columns="*,*" dock="top" padding="0 15 auto">
        <Label textWrap="true" col="0">
          <FormattedString>
            <Span text="내 진척도 : ( "></Span>
            <Span :text="known.length" color="red" fontWeight="bold"></Span>
            <Span text=" / "></Span>
            <Span :text="maximumProgress" fontWeight="bold"></Span>
            <Span text=" )"></Span>
          </FormattedString>
        </Label>
        <Label text="초기화" col="1" @tap="initAllData" textAlignment="right" textWrap="true" />
      </GridLayout>
      
      <Progress dock="top" :value="known.length" height="10" backgroundColor="lightgray" color="rgb(44, 83, 100)" :maxValue="maximumProgress" id="progress_learning" />
      <TabView :selectedIndex="0" selectedTabTextColor="rgb(252, 186, 111)" tabTextColor="#ffffff" tabBackgroundColor="#0f2027" dock="top">
        <TabViewItem title="내가 체크한 단어">
          <voca-content :itemlist="voca"></voca-content>
        </TabViewItem>
        <TabViewItem title="아는 단어">
          <StackLayout>
            <voca-content :itemlist="known"></voca-content>
          </StackLayout>
        </TabViewItem>
        <TabViewItem title="전체 단어">
          <voca-content :itemlist="entire"></voca-content>
        </TabViewItem>
      </TabView>
      
    </DockLayout>
  </Page>
</template>

<script>
import "nativescript-effects";
import voca_content from './voca_content'

export default {
  name: "voca",
  data() {
    return {
      voca: [],
      known: [],
      entire: [],
      title_state: "언어를 배운다는 것은 그 언어에 익숙해지는 것이다.",
      maximumProgress: 0
    };
  },
  components: {
    'voca-content': voca_content
  },
  methods: {
    initAllData() {
      const _self = this
      this.$store.commit('initData')
      this.resyncDB(() => {
        alert('단어장이 초기화 되었습니다. 메인화면으로 이동합니다.').then(() => {
          _self.$goto('home')
        })
      })
    },
    resyncDB(callback) {
      this.voca = this.$store.state.vocaDB;
      this.known = this.$store.state.knownDB;
      this.entire = this.$store.state.wordDB;
      this.maximumProgress = this.$store.state.knownDB.length + this.$store.state.wordDB.length

      if (typeof callback === 'function') {
        callback()
      }
    }
  },
  created() {
    this.resyncDB()
  }
};
</script>

<style lang="scss" scoped>
label#page_state {
  font-size: 13px;
  font-family: "Nanum Gothic";
  color: rgb(44, 83, 100);
  font-weight: bold;
  line-height: 0.688;
  padding: 5 15 auto;
  z-index: 10;
  text-shadow: 3px 3px 10px #000;
  border-bottom: solid 1px rgb(88, 88, 88);
}
</style>
