<template>
    <StackLayout>
      <Label :text="title" textWrap="true" id="title" />
      <Label text="Developer Info" textWrap="true" id="developerInfo" />
      <Label textWrap="true" class="info_item">
          <FormattedString>
              <Span text="Developer : " fontWeight="bold"></Span>
              <Span :text="developer"></Span>
          </FormattedString>
      </Label>
      <Label textWrap="true" class="info_item">
          <FormattedString>
              <Span text="E-Mail : " fontWeight="bold"></Span>
              <Span :text="email"></Span>
          </FormattedString>
      </Label>
      <Label :text="convertHexToString(0xf057)" class="fas" textWrap="true" @tap="$modal.close" textAlignment="center" color="#0F2027" fontSize="30px" marginTop="10" />
    </StackLayout>
</template>

<script>
export default {
    name: 'contect-modal',
    data() {
        return {
            title: '@EnSight',
            email: 'dreamty88@gmail.com',
            developer: '강병철(ByoungCheol Kang)'
        }
    },
    methods: {
        convertHexToString(hex) {
            return String.fromCharCode(hex);
        }
    }
}
</script>

<style lang="scss" scoped>
    StackLayout {
        width: 80%;
        height: 50%;
        margin: 0 auto;
        padding: 20px 40px 20px 40px;
        Label#title {
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
        }
        Label#developerInfo {
            margin: 20px auto;
            font-weight: bold;
        }
        Label.info_item {
            margin: 5px 20px auto;
        }
    }
    .fas {
       font-family: Font Awesome 5 Free, fa-solid-900;
       font-weight: 900; 
    }
</style>
