<template>
    <StackLayout padding="5">
      <card-view elevation="10" v-for="(product, index) in products" :key="product.priceAmount" padding="5 10 auto">
            <StackLayout orientation="horizontal" padding="10 15 10 15">
                <Label :text="product.localizedTitle.substring(0, product.localizedTitle.indexOf('(') - 1)" width="60%" verticalAlignment="center" textAlignment="center" class="product_title" textWrap="true" />
                <Button :text="product.priceFormatted" width="40%" class="product_price" textWrap="true" @tap="buyitem(index)" />
            </StackLayout>
        </card-view>
        <Button text="복구하기" @tap="takeRestoring" id="restore_btn" />
        <Label :text="convertHexToString(0xf057)" class="fas" textWrap="true" @tap="$modal.close" textAlignment="center" color="#0F2027" fontSize="30px" marginTop="10" />
    </StackLayout>
</template>

<script>
import * as purchase from 'nativescript-purchase'
import { Transaction, TransactionState } from "nativescript-purchase/transaction";

export default {
    name: 'inapp-modal',
    data() {
        return {
            products : [],
            isRestored: false
        }
    },
    methods: {
        buyitem(index) {
            if (purchase.canMakePayments()) {
                purchase.buyProduct(this.products[index])
            }
        },
        takeRestoring() {
            const _self = this
            purchase.restorePurchases().then(() => {
                if (_self.isRestored) {
                    alert('구매복구가 완료되었습니다.')
                    _self.isRestored = false
                } else {
                    alert('이전 구매내역이 없습니다. 다시 확인해주세요.')
                }
            })
        },
        convertHexToString(hex) {
            return String.fromCharCode(hex);
        }
    },
    mounted() {
        const _self = this

        purchase.init(["month_subscription", "3month_subscription", "6month_subscription", "year_subscription"]).then(() => {
            purchase.getProducts().then((products) => {
                products = products.sort(function(a,b) {
                    return a.priceAmount - b.priceAmount
                })

                products.forEach((product) => {
                    _self.products.push(product)
                })
               
            }).catch((e) => console.log(e))
        })

        purchase.on(purchase.transactionUpdatedEvent, (transaction) => {
            
            if (transaction.transactionState === TransactionState.Purchased) {
                _self.$appsetting.setBoolean('isPurchased', true);
                _self.$appsetting.setString('purchasedToken', transaction.transactionReceipt)
            }

            if (transaction.transactionState === TransactionState.Restored) {
                _self.$appsetting.setBoolean('isPurchased', true);
                _self.$appsetting.setString('purchasedToken', transaction.originalTransaction.transactionReceipt)
                _self.isRestored = true
            }
           
        });
    }
}
</script>

<style lang="scss" scoped>
    Label {
        font-weight: bold;
        font-size: 16px;
    }
    .product_price {
        text-align: center;
        color: rgb(253, 157, 46);
        background-color: #0f2027e5;
    }
    .product_desc {
        font-size: 15px;
        font-weight: normal;
        color: rgb(59, 59, 59);
    }
    #restore_btn {
        font-size: 16px;
        font-weight: bold;
        background-color: transparent;
        border: solid 1px rgb(44, 83, 100);
        color: rgb(44, 83, 100);
        padding: 5 15 auto;
        margin-top: 40px;
    }
    .fas {
        font-family: Font Awesome 5 Free, fa-solid-900;
        font-weight: 900; 
    }
</style>
