<template>
  <StackLayout margin="10 20 10 20" backgroundColor="transparent">
    <Label :text="whatService" textWrap="true" fontWeight="bold" color="#0F2027"/>
    <Label :text="whatService_desc" textWrap="true" marginLeft="5" class="contentLabel" />
   
    <Label :text="usageService" textWrap="true" fontWeight="bold" color="#0F2027"/>
    <Label text="글을 읽으면서 나타나는 단어들을 문장의 맥락을 통해 유추합니다." textWrap="true" marginLeft="5" class="contentLabel" />
    <Label text="3초이내 뜻이 생각이 안나는 경우, 단어를 터치 합니다. 단어팝업에서 단어의 정확한 뜻과 발음, 품사 등을 볼 수 있습니다." textWrap="true" class="contentLabel" />
    <Label text="한번 훑어보고 아래 버튼들을 통해 단어장을 만들어보세요." textWrap="true" class="contentLabel" />
    
    <GridLayout rows="60" columns="50,*">
      <Label :text="convertHexToString(0xf787)" textWrap="true" class="fas contentIcon" col="0" color="rgb(219, 74, 16)" />
      <Label text="내가 충분히 알고 있는 단어인 경우. '아는 단어'에 저장되어 다시 볼 수 있습니다." textWrap="true" col="1" class="contentLabel" />
    </GridLayout>
    <GridLayout rows="60" columns="50,*">
      <Label :text="convertHexToString(0xf059)" textWrap="true" class="fas contentIcon" col="0" color="#1e404e" />
      <Label text="잘 모르겠거나, 유추하는데 실패한, 다시 보고 싶은 단어인 경우. '내가 체크한 단어'에 저장되어 다시 볼 수 있습니다." textWrap="true" col="1" class="contentLabel" />
    </GridLayout>
    <GridLayout rows="60" columns="50,*">
      <Label :text="convertHexToString(0xf058)" textWrap="true" class="fas contentIcon" col="0" color="#1e404e" />
      <Label text="뜻이 유추 가능했던 단어. 같은 단어를 10번이상 이 버튼을 누르면, '아는 단어'에 자동 저장됩니다." textWrap="true" col="1" class="contentLabel" />
    </GridLayout>

    <Label :text="convertHexToString(0xf057)" class="fas" textWrap="true" @tap="$modal.close" textAlignment="center" color="#0F2027" fontSize="30px" marginTop="10" />
    
  </StackLayout>
</template>

<script>
export default {
  name: "info-modal",
  data() {
    return {
      whatService: "EnSight는 어떤 서비스인가요?",
      whatService_desc:
        "EnSight는 추측, 추론의 뜻을 가진 Insight와 English를 결합한 단어입니다. 소설, 수필, 연설문, 상식 등 일상에서 쉽게 접할 수 있는 글을 통해 단어를 학습하면 어떨까해서 만들기 시작했습니다. 단순히 노가다를 통해 외우는 것은 상당히 지루하고 고단한 일 입니다. 그런 지루한 여정을 좀 더 가볍게 떠날 수 있도록 도와드리고자 합니다. 단어를 기억하기 위해서는 '단어의 많은 노출'과 '이미지와의 연계성'이 중요합니다. 이 어플은, 문장의 맥락을 파악해 좀 더 '생각'한 후 단어를 학습할 수 있도록 하고 있습니다.",
      usageService: "어플 이용 방법"
    };
  },
  methods: {
    convertHexToString(hex) {
      return String.fromCharCode(hex);
    }
  }
};
</script>

<style lang="scss" scoped>
.fas {
    font-family: Font Awesome 5 Free, fa-solid-900;
    font-weight: 900; 
}
Label.contentLabel {
    font-size: 13px;
    margin-left: 5;
}
Label.contentIcon {
  font-size: 30px;
  text-align: center;
}
</style>

