<template>
    <StackLayout margin="10 20 10 20" backgroundColor="transparent">
        <Label text="EnSight의 Level" class="subject" textWrap="true" />
        <Label class="explanation" text="학습 레벨은 난이도 별이 아닌, 영어 단어의 사용 빈도 수에 따라서 분류 되어 있습니다. 각 레벨 당 3000여개의 단어로 구성되어 있습니다. 해석상의 문제로 전치사, 수사, 조동사, be동사, 관사는 단어목록에서 제외되었습니다." textWrap="true" />
        <Label :text="convertHexToString(0xf057)" class="fas" textWrap="true" @tap="$modal.close" textAlignment="center" color="#0F2027" fontSize="30px" marginTop="10" />
    </StackLayout>
    
</template>
<script>
export default {
    name: 'level_info',
    methods: {
        convertHexToString(hex) {
            return String.fromCharCode(hex);
        }
    }
}
</script>

<style lang="scss" scoped>
    .subject {
        font-size: 18px;
        color: rgb(44, 83, 100);
        font-weight: bold;
    }
    .explanation {
        margin-left: 20px;
        font-size: 14px;
        color: rgba(64, 119, 145, 0.904);
    }
    .fas {
        font-family: Font Awesome 5 Free, fa-solid-900;
        font-weight: 900; 
    }
</style>
